name: CI

on:
  push:
    branches-ignore:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version-file: '.nvmrc'
      - name: Cache npm
        uses: actions/cache@v2
        with:
          path: '~/.npm'
          key: ${{ runner.os }}-build-${{ hashFiles('./package-lock.json' ) }}
          restore-keys: |
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - run: npm ci
      - run: npm run lint
      - run: npm run test
